<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
</head>
<body>
    <h1>Notícias</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Título</td>
            <td>Notícia</td>
        </tr>
        <% for (var i=0; i<noticias.length; i++) { %> <!--  É um laço de repetição que tem como função colocar todas as notícias que estiverem localizadas no database -->
        <tr>
            <td><%=noticias[i].id_noticia %></td> <!--Tem como função colocar o id da noíticia, o qual está localizado no [i]-->
            <td><%=noticias[i].titulo %></td> <!--Tem como função colocar o título, o qual está localizado no [i]-->
            <td><%=noticias[i].noticia %></td> <!--Tem como função colocar o notícia, a qual está localizado no [i]-->
        </tr>
        <% } %>
    </table>
</body>
</html>